$body-bg: #fff;
$body-color: #111;
@mixin menu-animacion {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    @-webkit-keyframes slideOutLeft {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        to {
            visibility: hidden;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
    }
    @keyframes slideOutLeft {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        to {
            visibility: hidden;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
    }
}

// .navbar-toggler {
//     margin-left: auto!important;
//     border: none!important;
//     border-color: none!important;
// }
// .navbar-toggler-icon {
//     background-image: none!important;
//     color: rgba(255,255,255,.5);
//     border: none;
// }
// .navbar-toggler-icon:after {
//     // font-family: "Font Awesome 5 Free";
//     // font-weight: 700;
//     // content: "\f038";
//     content: url(img/menu.png);
// }
@import "node_modules/bootstrap/scss/bootstrap";
@import "CSS:css/animate.css";

/* Basic Reset */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-display: auto;
    text-rendering: optimizelegibility;
}

body {
    background: url(img/lms-back-l.png) no-repeat bottom left, url(img/lms-back-r.png) no-repeat bottom right;
    background-attachment: fixed;
    float: left;
    width: 100%;
}

.index {
    background: rgba(0, 0, 0, 0.9) url(img/index1c.jpg); // -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    //filter: grayscale(50%);
    background-attachment: fixed;
    background-origin: border-box;
    background-position: top;
    background-size: cover;
    min-height: -webkit-fill-available;
    background-position: center 0;
    background-attachment: fixed;
    display: block;
    .redes {
        color: $white;
    }
    * {
        color: $white;
    }
}

.frame {
    position: absolute;
    text-align: left;
    z-index: 1;
    top: 0;
    left: 0;
    display: grid;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem; // pointer-events: none;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 95%;
    grid-template-areas: "redes nada menu" "lms lms lms" "menuinf menuinf menuinf"; // * {
    //     color: inherit;
    // }
}

.frame-internas {
    position: absolute;
    text-align: left;
    z-index: 1;
    top: 0;
    left: 0;
    display: grid;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 100%;
    max-width: max-width;
    height: 100%; // height: min-content;
    padding: 3rem; // pointer-events: none;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "redes nada menu" "internas internas internas" "lema lema lema";
    overflow-x: hidden; // * {
    //     color: inherit;
    // }
    b {
        color: $dark;
    }
    .controles {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 1rem !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

.redes {
    grid-area: redes;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    a {
        color: inherit;
        i {
            padding-right: 1rem;
            font-size: 1.3rem;
        }
        .fa-facebook:hover {
            color: $facebook;
            -webkit-transition: all 0.5s;
            /* Safari */
            transition: all 0.5s;
        }
        .fa-twitter:hover {
            color: $twitter;
            -webkit-transition: all 0.5s;
            /* Safari */
            transition: all 0.5s;
        }
        .fa-whatsapp:hover {
            color: $whats;
            -webkit-transition: all 0.5s;
            /* Safari */
            transition: all 0.5s;
        }
    }
}

.nada {
    grid-area: nada;
    justify-self: end;
}

.menu {
    grid-area: menu;
    justify-self: end;
    text-align: center;
    a {
        color: inherit;
        i {
            padding-right: 1rem;
            font-size: 1.5rem;
        }
        .fa-home:hover {
            color: inherit;
            opacity: 0.6;
            -webkit-transition: all 0.5s;
            /* Safari */
            transition: all 0.5s;
        }
    }
    .navbar-nav {
        :nth-child(1) {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }
        :nth-child(2) {
            -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
        }
        :nth-child(3) {
            -webkit-animation-delay: 0.20s;
            animation-delay: 0.20s;
        }
        :nth-child(4) {
            -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
        }
        :nth-child(5) {
            -webkit-animation-delay: 0.30s;
            animation-delay: 0.30s;
        }
        :nth-child(6) {
            -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
        }
        :nth-child(1) :hover {
            &:after {
                content: ' -1';
                font-size: 0.9rem;
            }
        }
        :nth-child(2) :hover {
            &:after {
                content: ' -2';
                font-size: 0.9rem;
            }
        }
        :nth-child(3) :hover {
            &:after {
                content: ' -3';
                font-size: 0.9rem;
            }
        }
        :nth-child(4) :hover {
            &:after {
                content: ' -4';
                font-size: 0.9rem;
            }
        }
        :nth-child(5) :hover {
            &:after {
                content: ' -Trabaja con nosotros';
                font-size: 0.9rem;
            }
        }
    }
    .nav-item {
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: menu-animacion;
        animation-name: menu-animacion;
        @-webkit-keyframes menu-animacion {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-10%, 0, 0);
                transform: translate3d(-10%, 0, 0);
            }
            to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
        @keyframes menu-animacion {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-10%, 0, 0);
                transform: translate3d(-10%, 0, 0);
            }
            to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    } // .link-somos {
    //     &:hover {
    //         &:after {
    //             content: ' -sdf';
    //             font-size: 0.9rem;
    //         }
    //     }
    // }
    .navbar-nav li {
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        :hover {
            color: $white;
            border-bottom: 0.25rem double $white;
            margin-bottom: -0.25rem;
            -webkit-transition: all 0.3s;
            /* Safari */
            transition: all 0.3s;
        }
        .navbar-item {
            padding-left: 20%;
            width: 100%;
            text-align: center;
            :hover {
                width: 100%;
                color: $white;
                border-bottom: 0.2rem solid $white;
                width: 100%;
                text-align: right;
            }
        }
    }
}

.fa-menu {
    z-index: 999999;
    -webkit-appearance: none;
    background: none;
    border: none;
}

.fa-menu1 {
    z-index: 999999;
    -webkit-appearance: none;
    background: none;
    border: none;
}

.fa-menu1:before {
    // font-family: "Font Awesome 5 Free";
    // font-weight: 700;
    // content: "\f038";
    content: url(img/menu.png);
}

.fa-menu2 {
    z-index: 999999;
    -webkit-appearance: none;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.fa-menu2:before {
    // font-family: "Font Awesome 5 Free";
    // font-weight: 700;
    // content: "\f038";
    content: "\f142";
}

.collapse.show {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    display: grid;
    background: black;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transition: all ease-out 0.02s;
    /* Safari */
    -webkit-transition: all 0.02s;
    transition: all 0.02s;
}

.collapsing {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    display: grid;
    width: -webkit-fill-available;
    background: black;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transition: all 0.02s;
    /* Safari */
    -webkit-transition: all 0.02s;
    transition: all 0.02s;
}

.collapse {
    -webkit-transition: all 0.02s;
    /* Safari */
    transition: all 0.02s;
}

.navbar {
    padding: 0;
}

.menu-inf {
    grid-area: menuinf;
    padding: 0;
    justify-self: center;
    width: 100%;
    .navbar {
        padding: 0;
    }
    .nav-link {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: $white;
    }
    ul {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 100%;
        text-transform: uppercase;
        background: none;
        text-align: center;
        letter-spacing: 0.2rem;
        background: rgba(255, 255, 255, 0.1);
        * {
            padding-left: 0;
            padding-right: 0;
        }
        :hover {
            text-decoration: none;
            color: $white;
            -webkit-transition: all 0.3s;
            /* Safari */
            transition: all 0.3s;
        }
        :nth-child(1) :hover {
            background: $lms1;
        }
        :nth-child(2) :hover {
            background: $lms2;
        }
        :nth-child(3) :hover {
            background: $lms3;
        }
        :nth-child(4) :hover {
            background: $lms4;
        }
        :nth-child(5) :hover {
            background: $lms5;
        }
    }
}

.lema {
    grid-area: lema;
    padding: 0;
    justify-self: center;
    width: 100%;
    text-align: center;
    color: $dark !important;
    font-size: 0.8rem;
}

.navbar-toggler {
    z-index: 9999999;
}

.lms {
    grid-area: nada;
    justify-self: center;
    min-width: 100%;
    /* position: relative; */
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    /* justify-content: center; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    * {
        width: 100%;
    }
    h1 {
        font-size: 15rem;
        font-weight: bold;
        line-height: 13rem; // z-index: 2;
        -webkit-transition: all 0.2s;
        /* Safari */
        transition: all 0.2s;
        span {
            padding: 1rem;
        }
    }
    h1:hover {
        // transform: rotateY(0deg) rotateX(-20deg) scale(1.1) translate(-1rem);
        /* IE 9 */
        -webkit-transform: skewY(-5deg) translate(-5px, 1px);
        /* Safari 3-8 */
        transform: skewY(-5deg) translate(-5px, 1px);
        span:nth-child(1) {
            // Quitar o poner :hover para que se coloreen en un solo hover
            -webkit-transition: all 0.2s;
            /* Safari */
            transition: all 0.2s;
            color: $lms1;
        }
        span:nth-child(2) {
            // Quitar o poner :hover para que se coloreen en un solo hover
            -webkit-transition: all 0.2s;
            /* Safari */
            transition: all 0.2s;
            color: $lms4;
        }
        span:nth-child(3) {
            // Quitar o poner :hover para que se coloreen en un solo hover
            -webkit-transition: all 0.2s;
            /* Safari */
            transition: all 0.2s;
            color: $lms3;
        }
    }
    h5 {
        letter-spacing: 0.5rem;
    }
    p {
        color: $white;
        font-size: 5rem;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        line-height: 1;
        padding-top: 1rem;
        padding-bottom: 2rem;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .03em solid orange;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: .05em;
        /* Adjust as needed */
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        -webkit-animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
        animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    }
    /* The typing effect */
    @-webkit-keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }
    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }
    /* The typewriter cursor effect */
    @-webkit-keyframes blink-caret {
        from,
        to {
            border-color: transparent
        }
        50% {
            border-color: orange;
        }
    }
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent
        }
        50% {
            border-color: orange;
        }
    }
}

.typewrite .wrap {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-top: 0.1rem solid white; // text-decoration: underline;
    font-weight: 100;
}

.btn-lms {
    color: white;
    font-family: 'Roboto', helvetica;
    background-color: rgba($lms3, 0.8);
    border: 0;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-box-shadow: 12px 16px 35px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 12px 16px 35px 0px rgba(0, 0, 0, 0.30);
    -webkit-transition: background-color 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
    transition: background-color 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
    transition: box-shadow 150ms linear, background-color 150ms linear, transform 150ms linear;
    transition: box-shadow 150ms linear, background-color 150ms linear, transform 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
    &:hover {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        background-color: rgba($lms3, 0.6);
        -webkit-box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.30);
        box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.30);
        color: $white;
        text-decoration: none;
    }
    &:active {
        -webkit-transform: scale(.97);
        transform: scale(.97);
        background-color: rgba($lms3, 1);
        -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.30);
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.30);
        color: $white;
    }
    &:focus:hover {
        outline: 1px gray;
        color: $white;
    }
} // ANIMACIÓN SVG //
.wrapper {
    display: block;
    height: 10%;
    width: 30%;
    float: left;
    position: absolute;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    position: relative;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

path {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1800;
    opacity: 10;
    -webkit-animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
    animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
}

@-webkit-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 18;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 18;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 18;
    }
}

.back-internas {
    // background: url(img/lms-back-l.png) no-repeat bottom left, url(img/lms-back-r.png) no-repeat bottom right;
    // background-attachment: fixed;
    height: 100%;
    display: block;
    float: left;
    width: 100%;
    .menu {
        .fa-menu1 {
            padding-top: 0.5rem;
        }
        .navbar {
            padding: 0;
        }
    }
}

.somos {
    * {
        color: $lms1;
    } // .menu {
    //     .fa-menu1 {
    //         color: $lms1;
    //         background: $lms1;
    //         padding-top: 0.5rem;
    //     }
    //     .navbar {
    //         padding: 0;
    //     }
    // }
}

.mision {
    * {
        color: $lms2;
    }
    .nav-item {
        color: #dedfff !important;
    }
}

.servicios {
    * {
        color: $lms3;
    }
}

.modal {
    ul {
        li {
            color: $lms3;
            display: list-item;
            list-style: square;
            li::marker {
                content: "#" counter(counter) ":";
            }
            span {
                color: $dark;
            }
        }
    }
}

.internas {
    grid-area: internas;
    justify-self: center;
    width: 100%;
    height: 100%;
    /* position: relative; */
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    h1 {
        text-align: left;
        font-size: 3rem;
        font-weight: bolder;
        span {
            color: $dark;
        }
    }
    p {
        text-align: left;
        color: $dark;
    }
    .img-2 {
        margin-top: 4%;
        position: relative;
        margin-left: 10%;
    }
    .lineas-rosa {
        background-image: url(img/lineas-rosa.svg);
        background-repeat: no-repeat;
        padding: 5rem;
        display: block;
    }
    .lineas-azul {
        background-image: url(img/lineas-azul.svg);
        background-repeat: no-repeat;
        padding: 5rem;
        display: block;
    }
    .lineas-amarillo {
        background-image: url(img/lineas-amarillo.svg);
        background-repeat: no-repeat;
        padding: 5rem;
        display: block;
    }
}

.rosa {
    background: url(img/rosa.jpg);
    background-repeat: no-repeat;
}

.fondo {
    left: 0;
    margin-top: -5rem;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
}

.imagen {
    position: absolute;
    margin-top: 1rem;
    margin-left: 2.5rem;
    top: 5%;
    left: 10%;
    -webkit-transform: translateZ(50px) translateX(1%) translateY(1%);
    transform: translateZ(50px) translateX(1%) translateY(1%);
    -webkit-box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
    box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
}

// @media (max-width: 992px) {
//     .lineas-rosa {
//         background-image: none;
//         display: none;
//     }
//     .lineas-azul {
//         background-image: none;
//         display: none;
//     }
//     .lineas-rosa {
//         background-image: none;
//         display: none;
//     }
// }
/////////////// Carousel servicios /////////////////
.owl-item.active>div:after {
    content: 'active';
}

.owl-item.center>div:after {
    content: 'center';
}

.owl-item.active.center>div:after {
    content: 'active center';
}

.owl-item>div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/////////////// Hover flip /////////////////
/*-=-=-=-=-=-=-=-=-=-*/

/* Column Grids */

/*-=-=-=-=-=-=-=-=-= */

.col_half {
    width: 49%;
}

.col_third {
    width: 32%;
}

.col_fourth {
    width: 23.5%;
}

.col_fifth {
    width: 18.4%;
}

.col_sixth {
    width: 15%;
}

.col_three_fourth {
    width: 74.5%;
}

.col_twothird {
    width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
    position: relative;
    display: block; // display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.end {
    margin-right: 0 !important;
}

/*-=-=-=-=-=-=-=-=-=-=- */

/* Flip Panel */

/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper-flip {
    width: 980px;
    margin: 0 auto;
    background-color: #bdd3de;
    overflow: hidden;
}

.panel {
    width: 100%;
    margin: 0 auto;
    height: 20rem;
    position: relative;
    perspective: 600px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.panel .front,
.panel .back {
    text-align: center;
    width: 100%;
    height: 20rem;
}

.panel .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.panel .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 999999;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
    
}

.box1 {
    top: 0;
    background-color: $lms1;
    background-image: url(img/index1c.png);
    background-size: cover;
    height: 20rem;
    margin: 0 auto;
    border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    position: relative;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -ms-flex-line-pack: center;
        align-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    padding: 3rem;
    * {
        -webkit-transform: translateZ(70px) translateX(1%) translateY(1%);
        transform: translateZ(70px) translateX(1%) translateY(1%);
        color: $white;
        text-shadow: 1rem 1rem 1rem gray;
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        width: 100%;
        text-align: center;
    }
    img {
        width: 70%;
        height: 70%;
        position: absolute;
    }
    h3 {
        font-size: 2rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1.5rem;
    }
    h5 {
        width: 100%;
        text-align: center;
        color: $white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    p {
        width: 100%;
        text-align: center;
        color: $white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.box2 {
    background: rgba($black, 0.4);
    height: 20rem;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -ms-flex-line-pack: center;
        align-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 2rem;
    * {
        -webkit-transform: translateZ(50px) translateX(1%) translateY(1%);
        transform: translateZ(50px) translateX(1%) translateY(1%);
        color: $white;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    h5 {
        width: 100%;
        text-align: center;
        color: $white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    p {
        width: 100%;
        text-align: center;
        color: $white;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.75rem;
    }
}

.planeacion {
    background-image: url(img/planeacion.jpg);
    background-size: cover;
    background-position: right;
}

.d-sistemas {
    background-image: url(img/desarrollo.jpg);
    background-size: cover;
    background-position: right;
}

.soporte {
    background-image: url(img/soporte.jpg);
    background-size: cover;
    background-position: right;
}

.aplicaciones {
    background-image: url(img/aplicaciones.jpg);
    background-size: cover;
    background-position: right;
}

.promocion {
    background-image: url(img/fondo-promocionOk.jpg);
    background-size: cover;
    background-position: right;
}

.d-portales {
    background-image: url(img/aplicaciones.jpg);
    background-size: cover;
    background-position: right;
}

.comunicacion {
    background-image: url(img/aplicaciones.jpg);
    background-size: cover;
    background-position: right;
}

.redes-serv {
    background-image: url(img/aplicaciones.jpg);
    background-size: cover;
    background-position: right;
}

.alianzas {
    background-image: url(img/alianzas.jpg);
    background-size: cover;
    background-position: right;
}

.call {
    background-image: url(img/call.jpg);
    background-size: cover;
    background-position: right;
}

.comunicacion {
    background-image: url(img/comunicacion.jpg);
    background-size: cover;
    background-position: right;
}

.d-portales {
    background-image: url(img/d-portales.jpg);
    background-size: cover;
    background-position: right;
}

.fulfillment {
    background-image: url(img/fulfillment.jpg);
    background-size: cover;
    background-position: right;
}

.suministro {
    background-image: url(img/suministro.jpg);
    background-size: cover;
    background-position: right;
}

.redes-serv {
    background-image: url(img/redes-serv.jpg);
    background-size: cover;
    background-position: right;
}

.promocion {
    background-image: url(img/promocion.jpg);
    background-size: cover;
    background-position: right;
}

.gamification {
    background-image: url(img/gamification.jpg);
    background-size: cover;
    background-position: right;
}

button {
    &.close-servicios {
        right: 0;
        left: auto;
        position: absolute;
        padding-left: 0.4rem;
        padding-right: .4rem;
    padding-bottom: .4rem;
        color: $white;
        opacity: 1;
        margin: -1rem;
        background: $lms3;

    
    }
    &.close:hover {
        color: $white !important;
        opacity: 0.9 !important;
    }
}

.close-servicios2 {
    top: -1.2rem !important;
    position: relative !important;
    background: white !important;
    border-radius: 7rem !important;
    color: gray !important;
    opacity: 1 !important;
    border: 0;
    padding-left: 0.34rem !important;
    padding-right: 0.34rem !important;
    padding-top: 0.01rem !important;
    padding-bottom: 0.1rem !important;
    -webkit-box-shadow: 0rem 0rem 2rem 0rem grey !important;
            box-shadow: 0rem 0rem 2rem 0rem grey !important;
    :hover {
        color: $lms3 !important;
        opacity: 1 !important;
        border: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
}

.modal-header {
    &.pleca {
        position: absolute;
        background: #fff;
        left: 0;
        margin-left: -2rem;
        top: 12rem;
        padding: .5rem;
        border-radius: 0;
        line-height: 4px;
        text-underline-position: inherit;
        -webkit-box-shadow: 0.1rem 0.1rem 1rem grey;
                box-shadow: 0.1rem 0.1rem 1rem grey;
        h5 {
            line-height: 1.7rem;
            font-size: 2rem;
            /* box-shadow: 1rem 1rem; */
            letter-spacing: 0.2rem;
            text-align: center;
        }
    }
}

.modal-title {
    span {
        color: $dark;
    }
}

.modal-content {
    border-right: 0.3rem solid $lms3;
    margin-top: 1rem;
}

.modal-body {
    padding: 2rem;
    font-size: 0.85rem;
}

.sig {
    z-index: 99999999999;
    position: absolute;
    right: 0;
    margin-right: -1rem;
    top: 60%;
    border-radius: 0;
    box-shadow: -4px 4px 40px 0 rgba(0,0,0,.3);
}

.ant {
    z-index: 99999999999;
    position: absolute;
    left: 0;
    margin-left: -1rem;
    top: 60%;
    border-radius: 0;
    box-shadow: 4px 4px 40px 0 rgba(0,0,0,.3);
}

@include media-breakpoint-down(md) {
    html {
        font-size: 0.8rem;
        text-align: center;
        letter-spacing: 0.05rem;
        width: 100%;
    }
    .lms {
        h1 {
            font-size: 5rem;
        }
        p {
            font-size: 2.1rem;
        }
    }
    .somos,
    .mision,
    .servicios {
        * {
            text-align: center !important;
            line-height: 1.5rem !important;
        }
        h1 {
            margin-bottom: 3rem;
        }
        .lema {
            line-height: 1rem !important;
            font-size: 0.8rem;
            width: 100%;
        }
    }
    .lineas-rosa,
    .lineas-azul,
    .lineas-amarillo {
        background-image: none !important;
        padding: 1rem !important;
    }

    .modal-header {
        &.pleca {
            margin-left: 0;
            top: 6rem;

        }
    }

    button {
        &.close-servicios {

            margin: 0;

        }
        
    }

    .sig {
        margin-right: 0;
        top: 31%;
        padding: 1rem 0.5rem;
    }

    .ant {
        margin-left: 0;
        top: 31%;
        padding: 1rem 0.5rem;
    }
}